[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	ignore = untracked
[submodule "components/lvgl_touch_calibration"]
	path = components/lvgl_touch_calibration
	url = https://github.com/jakpaul/lvgl_touch_calibration.git
[submodule "wifi_credentials"]
	path = components/wifi_credentials
	url = git@github.com:cjheath/wifi_credentials.git
